.Button{
    background-color: lightgreen;
    color:white;
    border-radius: 8px;
    font-size: medium;
    height: 128px;
}

.Button:hover{
    background-color: lightblue;
}

.Button.primary{
    background-color: chartreuse;
}
.Button.primary:hover{
    background-color: rgb(87, 116, 59);
}


.Button>*{
    vertical-align: middle;
}