.Button{
    background-color: lightgreen;
    color:white;
    border-radius: 8px;
    font-size: medium;
    height: 128px;
}

.Button:hover{
    background-color: blue;
}
.Button>*{
    vertical-align: middle;
}